body{
  background-color:#E83925;
  font-family:'Ubuntu',sans-serif;
}
.headercontain{
  display:block;
  width:100%;
  max-height:400px;
}

.headerimgs li{
  display:inline-block;
  width:19.3%;
}
.headerimgs img{
  width:100%;
  height:250px;
  border-radius:5%;
  margin: 0 auto;
  transition:.8s;
}
.headerimgs img:hover{
  width:140%;
  height:260px;
  border-radius:5%;
  transition: width 1.7s, height 1.7s, transform 1s;
  transition-delay:.35s;
  transform:rotate(1turn);
  cursor:pointer;
}
#bigcontainer{
  display:block;
  width:100%;
}
.leftcolumn{
  display:inline-block;
  vertical-align:top;
  width:25%;
}
.leftcolumn h3{
  font-size:2em;
  border-bottom: 4px solid grey;
}
.leftcolumn ul{
  font-size:2em;
}
.leftcolumn ul li{
  transition:1s;
}
.leftcolumn ul li:hover{
  transition:all 1.5s ease;
  color:#6451FF;
  cursor:pointer;
}
.leftcolumn ul ul li:hover{
  transition:all 1.5s ease;
  background-color:black;
  color:grey;
  cursor:pointer;
}
.leftcolumn ul ul li{
  font-size:.4em;
}
.leftcolumnborder{
  border-right: 4px solid grey;
}
.middlecolumn{
  display:inline-block;
  width:49%;
}
.middlecolumn h3{
  position:relative;
  top:-13px;
  text-align:center;
  font-size: 4em;
  transition:.5s;
}
.middlecolumn h3:hover{
  transition:1.5s;
  color:gray;
}
.middlecolumn h3 span:hover{
  transition:1s;
  color:#6451FF;
}
.middlecolumn p{
  text-align:center;
  font-size: 2em;
}
.middlecolumn p span{
  padding-bottom:100px;
}
.middlecolumn p:hover{
  font-size:2.3em;
}
.rightcolumn{
  display:inline-block;
  vertical-align:top;
  width:25%;
}
.rightcolumn h3{
  font-size:2em;
  border-bottom: 4px solid grey;
}
.rightcolumn p{
  font-size:1.5em;
  transition:1s;
}
.rightcolumn p:hover{
  transition:.8s ease;
  font-size:2em;
  cursor:pointer;
}
footer {
  position:fixed;
  bottom:0;
  left:0;
  height:100px;
  width:100%;
  border:3px solid gray;
  background-color:#E83925;
}
.footerhead{
  font-size: 40px;
  text-align:center;
  transition:all 2s ease;
}
footer h2:hover{
  font-size: 50px;
  margin-left:35%;
}
